body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
}
nav{
    display: flex;
    margin: 0;
    padding: 0;
}
.contenedor{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.logo{
    display: flex;
    justify-content: start;
}
.logo p{
    font-size: 0.7em;
    font-weight: bold;
}
.logo img{
    width: 40px;
    clip-path: circle(60%);
    margin: 0px 5px;
    margin-left: 40px;
}
.lista{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.lista li{
    margin: 0px 3px;
}
.lista li a{
    text-decoration: none;
    margin:5px;
    font-size: 0.6em;
}
.contenedor input{
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.6em;
    border:2px solid rgba(0, 0, 0, 0.087);
}
.hero{
    display: flex;
    height: 80vh;
}
.uno{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.uno h1{
    font-size: 1.65em;
    width: 60%;
    margin: 5px;
}
.uno p{
    width: 60%;
    margin: 0;
    font-size: 0.65em;
}
.dos{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dos img{
    max-width: 60%;
}
.botones{
    width: 60%;
}
.hablemos{
    border-radius: 10px;
    font-size: 0.7em;
    padding: 10px;
    color: white;
    border: none;
    background-color: rgba(4, 0, 255, 0.533);
    transition-duration: 0.5s;
    margin: 5px;
}
.hablemos:hover{
    background-color: rgb(251, 190, 35);
    cursor: grab;
}
.hablemos img{
    width: 12px;
    margin: 0px 10px;
}
.portafolio{
    border-radius: 5px;
    font-size: 0.7em;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: white;
    font-weight: bold;
    transition-duration: 0.5s;
}
.portafolio:hover{
    background-color:rgb(251, 190, 35) ;
    border-radius: 10px;
    cursor: grab;
}
.portafolio img{
    width: 10px;
    margin: 0px 5px;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.redes p{
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 0.6em;
}
.iconos-redes{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
}
.div-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.154);
    border-radius: 50%;
    margin: 0px 5px;
}
.iconos-redes img{
    width: 20px;
    padding: 10px;
}


.servicios{
    background-color: rgb(254, 212, 104);
    display: flex;
    width: 100%;
    height: 100vh;
}
.servicios-uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.titulo-parrafo{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 5%;
}
.titulo-parrafo h2{
    font-size: 1.6em;
    width: 80%;
}
.titulo-parrafo p{
    font-size: 0.65em;
    width: 60%;
}
.sello{
    width: 80%;
}
.servicios-uno img{
    width: 100px;
}
.servicios-dos{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nombres{
    width: 80%;
    border-top: 2px solid black;
    padding: 10px;
}
.nombres h3 span{
    font-size: 0.6em;
    margin-right: 10px;
}
.nombres h3{
    font-size: 1em;
    width: 80%;
    margin: 0;
}
.nombres p{
    width: 50%;
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
}
.img{
    display: flex;
    justify-content: end;
    width: 95%;
    margin-bottom: 10px;
}
.img button{
    display: flex;
    background-color: blueviolet;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: none;
    transition: background 0.5s;
}
.img button:hover{
    background-color: blue;
    cursor: grab;
}
.nombres img{
    width: 10px;
    padding: 10px;
}



.habilidades{
    display: flex;
    height: 100vh;
}
.skills{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.skills h3{
    width: 80%;
    margin: 0;
    margin-top: 40px;
}
.skills p{
    width: 80%;;
    margin: 0;
    margin-bottom: 30px;
    font-size: 0.7em;
}
.skills h4{
    width: 80%;
    text-align: start;
    margin:0;
    margin-bottom: 5px;
}
.hability-icons{
    max-width: 90%;
    height: 15%;
    display: flex;
    margin: 0;
}
.expe-uno{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.expe-uno img{
    width: 15%;
    padding: 10px;
    margin: 0;
    background-color: black;
    border-radius: 50%;
}
.expe-uno div p{
    margin: 10px 0px;
    padding: 0;
    font-size: 0.5em;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.experiencia{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.experiencia h4{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    width: 80%;
    margin: 0;
}
.trabajo{
    display: flex;
    width: 80%;
    height: 15%;
    border-bottom: 2px solid black;
    margin: 0px;
    padding: 5px;
}
.fecha{
    width: 25%;
    font-size: 0.7em;
    margin: 0;
}
.nombre-empresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nombre-empresa h5{
    margin: 0;
    font-size: 0.8em;
}
.nombre-empresa p{
    margin: 0;
    font-size: 0.5em;
}
.img-color{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.img-color img{
    width: 40%;
    margin-right: 20px;
}


