body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    margin: 0;
    padding: 0;
}
.contenedor{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.logo{
    display: flex;
    justify-content: start;
}
.logo p{
    font-size: 0.7em;
    font-weight: bold;
}
.logo img{
    width: 40px;
    clip-path: circle(60%);
    margin: 0px 5px;
    margin-left: 40px;
}
.lista{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.lista li{
    margin: 0px 3px;
}
.lista li a{
    text-decoration: none;
    margin:5px;
    font-size: 0.6em;
}
.contenedor input{
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.6em;
    border:2px solid rgba(0, 0, 0, 0.087);
}
.principal{
    display: flex;
    height: 80% ;
}
.uno{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.uno h1{
    font-size: 1.5em;
    width: 80%;
    margin: 5px;
}
.uno p{
    width: 80%;
    margin: 0;
    font-size: 0.6em;
}
.dos{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    max-width: 65%;
}
.botones{
    width: 80%;
}
.hablemos{
    border-radius: 10px;
    font-size: 0.5em;
    padding: 10px;
    color: white;
    border: none;
    background-color: rgba(4, 0, 255, 0.533);
}
.hablemos img{
    width: 12px;
    margin: 0px 10px;
}
.portafolio{
    border-radius: 5px;
    font-size: 0.6em;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: white;
    font-weight: bold;
}
.portafolio img{
    width: 10px;
    margin: 0px 5px;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.redes p{
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}
.iconos-redes{
    display: flex;
    align-items: center;
}
.div-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.154);
    border-radius: 50%;
    margin: 0px 5px;
}
.iconos-redes img{
    width: 20px;
    margin: 0px 10px;
    padding: 10px;
}


.servicios{
    background-color: rgb(254, 212, 104);
    display: flex;
    width: 100%;
    height: 100vh;
}
.servicios-uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.titulo-parrafo{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 5%;
}
.servicios-uno h2{
    font-size: 1.5em;
    width: 80%;
}
.servicios-uno p{
    font-size: 0.5em;
    width: 60%;
}
.sello{
    width: 80%;
}
.servicios-uno img{
    width: 100px;
}
.servicios-dos{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nombres{
    width: 80%;
    height: 25%;
    border-top: 2px solid black;
    padding: 10px;
}
.nombres h3 span{
    font-size: 0.6em;
    margin-right: 10px;
}
.nombres h3{
    font-size: 1em;
    width: 80%;
    margin: 0;
}
.nombres p{
    width: 50%;
    font-size: 0.5em;
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
}
.img{
    display: flex;
    justify-content: end;
    width: 95%;
    margin-bottom: 10px;
}
.img button{
    display: flex;
    background-color: blueviolet;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: none;
    transition: background 0.5s;
}
.img button:hover{
    background-color: blue;
    cursor: grab;
}
.nombres img{
    width: 10px;
    padding: 8px;
}


